[user]
  name = Jure Glasovic
  email = jglasovic@gmail.com
[core]
  excludesfile = $HOME/.gitignore_global
[help]
  format = web
  autocorrect = 1
[push]
  default = upstream
  autoSetupRemote = true
[pull]
  rebase = false
[diff]
  tool = fugitive
[difftool]
  prompt = false
  trustExitCode = false
  keepBackup = false
[difftool "fugitive"]
  cmd = vim -f -c "Gvdiffsplit!" \"$REMOTE\"
[merge]
  tool = fugitive
  conflictstyle = merge
[mergetool]
  prompt = false
  trustExitCode = false
  keepBackup = false
[mergetool "fugitive"]
  cmd = vim -f -c "Gvdiffsplit!" \"$MERGED\"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
